header {
  padding-bottom: 60px;
}

#header-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
}

#header-hack-logo {
  margin-top: 80px;
  max-width: 100%;
}

.hack-year {
    margin-top: 0px;
}

header .hack-intro {
  margin: 80px 0px;
}

.hack-section {
  padding: 80px 0px;
  color: white;
}

.hack-column {
  height: 100%;
  margin-bottom: 40px;
}

.company-logo {
  height: 30px;
  margin: 7px;
}

/*Some company logos are really small so adjust them here*/
.cisco-logo {height: 46px;}
.pwc-logo {height: 52px;}
.cyberpro-logo {height: 46px;}

#cdx2015 {
  background-color: rgba(232,50,41,1);
}

#cdx2016 {
  background-color: rgb(68, 143, 220);
}
