@import "vars.css";

@font-face {
    font-family: 'GoogleMontserrat';
    src: url('../fonts/GoogleMontserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GoogleMontserrat', sans-serif;
}

body {
    background: var(--background-colour);
    font-family: 'JetBrainsMono', monospace;
    color: white;
}

#content > section{
    margin-bottom: 5em;
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: 14em;
    color: white;
}

nav {
    position: fixed;
    width: 13em;
}

.nav-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 2em
}

.nav-group a {
    position: relative;
    margin-bottom: -2em;
    width: fit-content;
    background-image: url("/images/nav/hexagon_blue.svg");
    background-size: 7em;
    background-repeat: no-repeat;
}

#guts-logo {
    background-image: url("/images/nav/logo_blue.svg");
}

.nav-group a.offset{
    margin-left: 3.5em;
}

.nav-group a:hover img {
    opacity: 0;
}

.nav-group a:hover h2 {
    color: #49B3FF;
}

.nav-group a h2 {
    font-size: .85em;
    position: absolute;
    color: white;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.nav-group a img {
    width: 7em;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#nav-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1em;
}

#nav-socials a {
    margin:0.25em;
    justify-content: center;
    align-content: center;
}

#nav-socials a:hover {
    cursor: pointer;
}

#nav-socials a svg {
    fill: currentColor;
    color: white;
    width: 3em;
    max-height: 2em;
}


.centre{
    padding-right: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upcoming-events-list {
    display: flex;
    flex-direction: column;
}

#past-events-section{
    display: flex;
    flex-direction: column;
}

.tab-option-list {
    display: grid;
    grid-template-columns: []20em []20em ;
    grid-template-rows: []5em;
    grid-column-gap: 2em ;
}

.tab-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
    transition: all var(--card-animation-time) ease;
}

.tab-option.selected{
    background: var(--selected-background-colour);
}

.tab-option:hover{
    cursor: pointer;
}
.tab-option h2{
    text-wrap: wrap;
    margin: 0;
}

#major-past-events-tab-content{
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--selected-background-colour);
    transition: all var(--card-animation-time) ease-in-out ;
}
.tab-content{
    display: flex;
    flex-direction: column;

}

#minor-past-events-section{
    margin-top: 2em;
}

#minor-past-events-section .tab-option{
    height: 5em;
}

#minor-past-events-content{
    height: 0;
    overflow: hidden;
    background: var(--selected-background-colour);
    transition: all var(--card-animation-time) ease-in-out ;
}

.gen-drop{
    display: flex;
    flex-direction: column;
}
.gen-drop-container{
    width: 50em;
    transition: width var(--card-animation-time) ease-in-out ;
}
.gen-drop-toggle:hover{
    cursor: pointer;
}

.gen-drop-toggle{
    display: flex;
    height: 5em;
    background: var(--card-background-colour);
    justify-content: center;
    align-items: center;
    transition: background-color var(--card-animation-time) ease var(--card-animation-time);
}

.gen-drop-toggle.selected{
    transition-delay: 0s;
    transition: none;
    background: var(--selected-background-colour);
}

.gen-drop-content{
    display: flex;
    max-height: 0;
    overflow: hidden;
    background: var(--selected-background-colour);
    transition: all var(--card-animation-time) ease-in-out ;
}

#board-members .gen-drop-content{
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

#board-members .gen-drop-container{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

#board-members .gen-drop-container .gen-drop-toggle{
    width: 50em;
}


#board-members .gen-drop-container .gen-drop-toggle.selected{
    width:100%;
}

.board-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 55em;
}
.member{
    display: flex;
    flex-direction: row;
    height: 10em;
    padding: 1em;
    margin: 1em;
}

.member .mugshot{
    width: 10em;
    background-color: red;
    border-radius: 10%;
    transition: border-radius var(--card-animation-time) ease-out var(--card-animation-time);
    z-index: 101;
}

.member .mugshot .img{
    object-fit: contain;
}

/*.member.selected .mugshot{*/
/*    transition: none;*/
/*}*/

.member .mugshot:hover{
    cursor: pointer;
}

.member .info{
    overflow: hidden;
    max-width: 0;
    text-wrap: nowrap;
    border-radius: 0 10% 10% 0;
    background-color: var(--blue);
    transform: translate(-10%, 0);
    padding-left: 0;
    transition: all var(--card-animation-time) ease-in-out;
    z-index: 100;
}

.member.selected .info {
    max-width: 20em;
    padding-left: 6%;
}

.member .info .role{
    font-weight: bold;
}
/*.cursor-glow-top{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    background: radial-gradient(rgb(73, 179, 255) 1%, rgb(73, 179, 255, 0) 100%);*/
/*    box-shadow: 0 0 30px rgb(73, 179, 255, 1);*/
/*    position: absolute;*/
/*}*/

/*.cursor-glow-top{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    background: radial-gradient(rgb(73, 179, 255) 1%, rgb(73, 179, 255, 0) 100%);*/
/*    box-shadow: 0 0 30px rgb(73, 179, 255, 1);*/
/*    position: absolute;*/
/*}*/

/*.cursor-glow-bottom {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*    background: linear-gradient(rgb(77, 177, 177, .5) 10%, rgb(173, 179, 255, .1) 90%);*/
/*    box-shadow: 0 0 20px #4DB1B17F;*/
/*    position: absolute;*/
/*}*/

@media screen and (max-width: 1140px) {
    .centre{
        padding-right: 0;
    }
}