:root {
    --background-colour: #181818;
    --blue : #49B3FF;
    --selected-background-colour: #4A4A4A;
    --card-background-colour: #232323;
}

@font-face {
    font-family: 'GoogleMontserrat';
    src: url('../fonts/GoogleMontserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GoogleMontserrat', sans-serif;
}

body {
    background: var(--background-colour);
    font-family: 'JetBrainsMono', monospace;
    color: white;
}

#content > section{
    margin-bottom: 5em;
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: 14em;
    color: white;
}

nav {
    position: fixed;
}

.nav-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 2em
}

.nav-group a {
    position: relative;
    margin-bottom: -2em;
    width: fit-content;
    background-image: url("/images/nav/hexagon_blue.svg");
    background-size: 7em;
    background-repeat: no-repeat;
}

#guts-logo {
    background-image: url("/images/nav/logo_blue.svg");
}

.nav-group a.offset{
    margin-left: 3.5em;
}

.nav-group a:hover img {
    opacity: 0;
}

.nav-group a:hover h2 {
    color: #49B3FF;
}

.nav-group a h2 {
    font-size: 0.85em;
    position: absolute;
    color: white;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.nav-group a img {
    width: 7em;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.centre{
    padding-right: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#past-events-section{
    display: flex;
    flex-direction: column;
}

.tab-option-list {
    display: grid;
    grid-template-columns: []20em []20em ;
    grid-template-rows: []5em;
    grid-column-gap: 2em ;
}

.tab-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}

.tab-option:hover{
    cursor: pointer;
}
.tab-option h2{
    text-wrap: wrap;
    margin: 0;
}

#major-past-events-tab-content{
    height: 0;
    overflow: hidden;
    background: var(--selected-background-colour);
    transition: all .7s ease-in-out ;
}
.tab-content{
    display: none;
}

#minor-past-events-section{
    margin-top: 2em;
}

#minor-past-events-section .tab-option{
    height: 5em;
}

/*.cursor-glow-top{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    background: radial-gradient(rgb(73, 179, 255) 1%, rgb(73, 179, 255, 0) 100%);*/
/*    box-shadow: 0 0 30px rgb(73, 179, 255, 1);*/
/*    position: absolute;*/
/*}*/

/*.cursor-glow-bottom {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*    background: linear-gradient(rgb(77, 177, 177, .5) 10%, rgb(173, 179, 255, .1) 90%);*/
/*    box-shadow: 0 0 20px #4DB1B17F;*/
/*    position: absolute;*/
/*}*/

@media screen and (max-width: 1140px) {
    .centre{
        padding-right: 0;
    }
}