@import "vars.css";

.event-card {
    display: flex;
    flex-direction: column;
    background: var(--card-background-colour);
    width: 45em;
    margin-bottom: 3em;
    padding: 0.5em;
    border: 2px solid var(--card-background-colour);
    border-radius: 1em;
    box-shadow: 0 0 10px 6px rgba(24,24,24,0.46);
    transition: all var(--card-animation-time) ease-in-out ;
}

.event-card:hover{
    border: 2px solid var(--blue);
    box-shadow: 0 0 17px  var(--blue);
}

.event-details {
    display: grid;
    grid-gap: 0.1em;
    align-content: space-evenly;
}

.event-details:hover {
    cursor: pointer;
}

.event-details h2 {
    width: 40%;
}

.event-location {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: end;
}

.event-card .event-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition:  max-height var(--card-animation-time) ease-in-out;
}

.event-card.selected .event-content{
    /*overflow: visible; if you look closely the text appears before the box has finished expanding */
    opacity: 100%;
    transition: max-height var(--card-animation-time) ease-in-out;
}

.event-content p{
    margin: 0;
}

.load-events-button {
    width: 10em;
    height: 3em;
    margin: auto auto 2em auto;
    background-color: var(--card-background-colour);
    font-size: medium;
    color: white;
    border: 2px solid transparent;
    transition: all var(--card-animation-time) ease-in-out;
}

.load-events-button:hover {
    background-color: var(--selected-background-colour);
    border: 2px solid var(--card-background-colour);
}

/* Event grid positioning */

.event-title {
    max-width: 12em;
    text-wrap: stable;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.event-date {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.event-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 60%;
    transform: translate(0, -20%);
}

.event-sponsors {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.event-sponsors a {
    align-items: center;
}

.event-sponsors a img {
    max-height: 2.5em;
    margin-right: 1em;
}

/* Mobile */
@media screen and (max-width: 1140px) {
    .event-card {
        width: 70vw;
        font-size: 1.7em;
    }

    .event-title, .event-location, .event-date{
        margin: .2em 0 ;
    }

    .event-location{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: start;
    }

    .event-img{
        grid-column-start: 2;
        grid-column-end : 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .event-content h3{
        margin-bottom: 0;
    }

    .event-content p{
        margin-top: 1em;
    }


}