.event-card {
    display: flex;
    flex-direction: column;
    background: #232323;
    width: 50em;
    padding: 0.5em;
}

.event-details {
    display: grid;
    grid-gap: 0.5em;
    align-content: space-evenly;
}

.event-details:hover {
    cursor: pointer;
}

.event-details h2 {
    width: 13em;
}

.event-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.event-date {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

}

.event-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 10em;
}

.event-location {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: end;
}

.event-content {
    display: none;
}