@import "vars.css";

.event-card {
    display: flex;
    flex-direction: column;
    background: var(--card-background-colour);
    width: 39em;
    margin-bottom: 3em;
    margin-left: 1em;
    padding: 0.5em;
    border: 2px solid var(--card-background-colour);
    border-radius: 1em;
    box-shadow: 0 0 17px 6px rgba(24,24,24,0.46);
}

.event-details {
    display: grid;
    grid-gap: 0.1em;
    align-content: space-evenly;
}

.event-details:hover {
    cursor: pointer;
}

.event-details h2 {
    width: 40%;
}

.event-location {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: end;
}

.event-card .event-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition:  max-height var(--card-animation-time) ease-in-out;
}

.event-card.selected .event-content{
    /*overflow: visible; if you look closely the text appears before the box has finished expanding */
    opacity: 100%;
    transition: max-height var(--card-animation-time) ease-in-out;
}

.event-content p{
    margin: 0;
}

/* Event grid positioning */

.event-title {
    max-width: 12em;
    text-wrap: stable;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.event-date {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.event-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 60%;
    transform: translate(0, -20%);
}

.event-sponsors {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.event-sponsors a {
    align-items: center;
}

.event-sponsors a img {
    max-height: 2.5em;
    margin-right: 1em;
}
