header {
  padding-bottom: 60px;
}

#header-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
}

#header-hack-logo {
  margin-top: 80px;
  max-width: 100%;
}

.hack-year {
    margin-top: 0px;
}

header .hack-intro {
  margin: 80px 0px;
}

/* .intro-lead-out {
  font-size: calc( 20px + (45 - 20) * (100vw - 400px) / (3840 - 400) );;
} */

.hack-section {
  padding: 80px 0px;
  color: white;
}

.hack-column {
  height: 100%;
  margin-bottom: 40px;
}

.company-logo {
  height: 30px;
  margin: 7px;
}

.goldmansachs-logo, .twilio-logo {  
  height: 50px;
  margin: 7px;
}

/* requirement for ibm logo margin >= height */
.ibm-logo {
  height: 30px;
  margin: 30px;
} 

.guts-logo {
  height: 60px;
}

#hack2019 {
  background-color: rgb(85, 41, 110)
}

#hack2018 {
  background-color: #9E1C1C
}

#hack2017 {
  background-color: #404040;
}

#hack2016 {
  background-color: cadetblue;
}

#hack2015 {
  background-color: rgb(251, 171, 24);
}

#hack2014 {
  background-color: #22B222;
}

#hack2013 {
  background-color: #404040;
}

#mlh-trust-badge {
  display:block;
  max-width:3vw;
  min-width:2vw;
  position:absolute;
  right:50px;
  top:0;
  width:15%;
  z-index:10000;
}

#code-of-coduct{
  width: 100%;
  text-align: center;
  color: white;
  font-size:10px;
}

@media(max-width:768px) {
  #mlh-trust-badge {
    right:75px;
  }
}
/*
@media(min-width:769px) and (max-width:992px) {
  #mlh-trust-badge {
    right:25px;
  }
}

@media(max-width:1420px){
  #mlh-trust-badge {
    max-width:80px;
    min-width:40px;
  }
} */
