.leaderboard {
  border-radius: 5px;
}

.leaderboard-item {
  display: block;
  background-color: white;
  width:100%;
  height:50px;
  border-top: solid 4px #e5eef7;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 4px;
}

.leaderboard-item *{
  position: relative;
  display: inline;
}

.leaderboard-item *:first-child {
  text-align: left;
  float: left;
}

.leaderboard-item *:last-child {
  text-align: right;
  float: right;
}

.teamscore {
  color: grey;
}

.leaderboard > div:nth-child(1) > .teamname:before {
  content: "★ ";
  color: gold;
}

.leaderboard > div:nth-child(2) > .teamname:before {
  content: "★ ";
  color: silver;
}

.leaderboard > div:nth-child(3) > .teamname:before {
  content: "★ ";
  color: brown;
}

.leaderboard-item.large > h4 {
  float: none;
}

.leaderboard-item.large {
  color: dimgrey;
  text-align: center;
  padding-top: 25px;
  height:100px;
}
