<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-right">
                <ul class="list-inline quicklinks">
                    <li>
                        <a target="_blank" href="files/constitution2023.pdf">Our Constitution</a>
                    </li>
                    <li>
                        <a href="#">Back to Top <i class="fas fa-arrow-up"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
