<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/gutechsoc"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/gutechsoc"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://discord.gg/EGtY9n"><i class="fab fa-discord" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="mailto:gutechsoc@gmail.com"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="/">GUTS</a>
                    </li>
                    <li>
                        <a href="/#about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                    <li>
                        <a target="_blank" href="files/constitution2019.pdf">Constitution</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
