<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">GUTS  · <a href="files/Constitution.pdf">Constitution</a></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/gutechsoc"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/gutechsoc"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="mailto:gutechsoc@gmail.com?Subject=I Love GUTS"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="https://www.facebook.com/gutechsoc">Like us on Facebook</a> to see all of our events!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
