header {
  padding-bottom: 60px;
  height: 100vh;
  width: 100vw;
}

#header-container {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #000;
}

#header-video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  opacity: 0.6;
}

header .intro-text {
  padding-top:30vh
}

.header-button {
  margin-top: 5px;
}

#hack-countdown {
  background: #222;
  padding: 6px 12px;
}

.section-content {
  margin: 50px;
}

#signup-form {
  padding-top: 50px;
}

#signup-box {
  display: inline-block;
  max-width: 350px;
  margin-bottom: 5px; /* so that if they overflow and wrap they are not touching*/
}

#signup-section {
  padding: 75px 0px;
}

#signup-subheading {
  margin-bottom: 0px;
}

#video-button {
  font-size: 100px;
  cursor: pointer;
}
#video-button:hover {
  color: #222;
}
#video-button:active {
  color: #111;
}

/* classes for the video popup */
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*
.company-logo {
  max-height: 100px;
  max-width: 400px;
}*/

.company-tall-logo {
  padding: 0px 40px;
}

.company-wide-logo {
  padding: 20px 0px;
}

/*styles for the upcoming event section*/
.event {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.eventTitle {
  float: left;
}

.eventDate {
  float: right;
}

.eventIcon {
  position: relative;
  width: 100px;
}

@media (max-width: 835px) {
  .eventIcon {
    display: none
  }

  .event {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media (max-width: 650px) {
  .company-wide-logo {
    padding: 0px 0px;
  }
}

@media (max-width: 500px) {
  .eventIcon {
      padding-right: 10px;
      left: -10px;
  }

  .eventinfo h2 {
      font-size: 24px;
  }
}

#upcoming-events,
#past-events
{
  background-color: #eaeaea;
}

#about,
#team,
#contact
{
  background-color: white;
}

.team {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.team li {
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.team figure > img {
  -webkit-clip-path: polygon(50% 0%, 93.75% 25%, 93.75% 75%, 50% 100%, 6.25% 75%, 6.25% 25%);
  clip-path: polygon(50% 0%, 93.75% 25%, 93.75% 75%, 50% 100%, 6.25% 75%, 6.25% 25%);
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  float: left;
}

.team h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.team .role {
  display: block;
  margin-bottom: 3px;
}

.team .social {
  margin-bottom: 0;
}

.team .social a {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  font-size: 16px;
  outline: 0;
  color: #222;
  background: white;
}

.team .social a:hover,
.team .social a:focus,
.team .social a:active {
    color: #4AACD2;
}

@media(max-width: 320px) {
  .team li {
    width: 60%;
  }
  
  .team figure > img {
    float: none;
    margin-right: 0;
  }
}

@media (min-width: 320px) {
  .team li {
    width: 49%;
  }

  .team figure > img {
    float: none;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .team li {
    width: 30%;
  }
}