<section class="event-card">
    <section class="event-details" onclick="toggleEventDetails(this);">
        <!-- Event Name -->
        <h2></h2>
        <!-- Event Date -->
        <h2></h2>
        <!-- Event Image -->
        <img src="" alt=""/>
        <!-- Event Location -->
        <h2></h2>
    </section>
    <section class="event-content">
        <!-- Event Sponsors: from [INSERT SPONSORS JSON FILE] add the IDs of the sponsors for the event -->
        <section class="event-sponsors-presetup"></section>
    </section>

</section>