---
#The event layout is the one used for major events like the hack and cdx.
#it has a rigid structure which event pages alter with their YAML file.
#custom content can be added to the page. this will display above all of the
#current events, so is useful if you want to add info about a upcoming event.
layout: default
custom_css: schedule
custom_js: lightbox.min

#header_background_image: placeholder.jpg
#header_image: placeholder.jpg
#header_text: Placeholder Text!
#header_button_url: /
#header_button:text: Placeholder Text!
---

  <!-- Header -->
  <header>
      <div id="header-container">
        <img id="header-img" src="{{page.header_background_image}}" alt="" />
      </div>
      <div class="container" id="intro-container">
          <div class="intro-text">
              <div class="intro-heading">{{page.header_title}}</div>
              <div class="intro-lead-out">({{page.header_leadout}})</div>

              {% for button in page.buttons %}
              <a href="{{button.link}}" class="btn btn-xl btn-excite header-button visible-sm-xl {{button.class}}">{{button.text}}</a>
              {% endfor %}
          </div>
      </div>
  </header>

  {% for day in page.days %}
  <section>
    <h2 class="section-heading text-center">{{day.title}}</h2>
      <div class="container">
            {% for event in day.events %}
              <div class="row event-row" start-time="{{event.start_time}}" end-time="{{event.end_time}}">
                <div class="col-xs-3 col-md-2">
                  {% if event.time_text %}
                    <h3 class="text-muted event-time">{{event.time_text}}</h3>
                  {% endif %}
                  {% if event.side_time_text %}
                    <h3 style="color:#4aacd2" class="text-muted event-time">{{event.side_time_text}}</h3>
                  {% endif %}
                </div>
                <div class="col-xs-9 col-md-10">
                  <h3>{{event.name}}</h3>

                    {% if event.desc %}
                    <h4 class="subheading text-muted">
                      {{event.desc}}
                    </h4>
                    {% endif %}
                </div>
              </div>
            {% endfor %}
      </div>
  </section>
  {% endfor %}
